doctype html
html
  head
    meta(charset='utf-8')
    title Dashboard.js
    link(href='/bundled/app.css?' + timestamp, rel='stylesheet', text='text/css')
    script(src='/bundled/lib.js?' + timestamp)
    script(src='/bundled/templates.js?' + timestamp)
    script(src='/bundled/app.js?' + timestamp)

  body
